
LenovoY450/LenovoY450.xcodeproj/project.xcworkspace/xcuserdata/delta.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

LenovoY450/LenovoY450.xcodeproj/project.xcworkspace/xcshareddata/LenovoY450.xccheckout

LenovoY450/LenovoY450.xcodeproj/project.xcworkspace/xcshareddata/LenovoY450.xccheckout

LenovoY450/LenovoY450.xcodeproj/project.xcworkspace/xcuserdata/delta.xcuserdatad/UserInterfaceState.xcuserstate

LenovoY450/LenovoY450.xcodeproj/xcuserdata/delta.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

.DS_Store
